<!DOCTYPE html>
<html>
<head>
  <title>ComplimentexterStarter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="title">
	<h1> Joe would like to compliment you!</h1>
	</div>
	<%= image_tag('joe-biden-pointing-aviators.jpg', height: '300', width: '400') %>
<%= yield %>

</body>
</html>
